<!-- Rails Implementation -->

<!--
<%# form_for Link.new do |f| %>
<p><%# f.label :link_title %>: <%# f.text_field :title %></p>
<p><%# f.label :link_url %>: <%# f.text_field :url %></p>

<p><%# f.submit "Submit Link" %></p>
<%# end %>

<%# if current_user %>

<%# render @links %>
<%# end %>
-->

<!-- Iteration 5 -->
<h2>Create a New Link</h2>
<p>
<button id="show-read" type="button" name="button">Show Read Links</button>
<button id="show-unread" type="button" name="button">Show Unread Links</button>
<button id="show-all" type="button" name="button">Show All Links</button>
</p>

<div class="Link-Form">
  <input type='text' id="link_title" placeholder="Title"/>
  <input type='text' id="link_url" placeholder="URL"/>
  <button type="button" id="submit_link" name="button">Submit Link</button>
</div>
<div id='links_list'>
</div>
